* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root.dark {
  --background: #08070b;
  --font-color: #f1f2f5;
  --font-color-secondary: #989999;
  --bg-toggle: #1e1e1e;
  --bg-circle-toggle: linear-gradient(180deg, #be6cff 0%, #8f00ff 100%);

  --linkedin: #0e76a8;
  --github: #f1f2f5;
  --instagram: #cb2770;
}

:root {
  --background: #f1f2f5;
  --font-color: #08070b;
  --font-color-secondary: #686868;
  --bg-toggle: #d0d0d0;
  --bg-circle-toggle: linear-gradient(180deg, #be6cff 0%, #8f00ff 100%);

  --linkedin: #0e76a8;
  --github: #08070b;
  --instagram: #cb2770;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* ---------------------- HEADER ---------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1360px;
  height: 45px;

  margin: 30px auto 0;
  padding: 0 40px;
}

.nav-group-list {
  display: flex;
  align-items: center;
  gap: 45px;
  list-style: none;
}

.nav-group-list .nav-group-list-item a {
  color: var(--font-color);
  text-decoration: none;
  position: relative;
  font-size: 16px;
  line-height: 24px;
}

.nav-group-list .nav-group-list-item a::before {
  content: "";
  width: 0%;
  height: 2px;
  background: var(--bg-circle-toggle);
  position: absolute;
  bottom: -7px;
  left: 0;
  transition: 0.5s;
}

.nav-group-list .nav-group-list-item a:hover::before {
  width: 100%;
}

#toggle-theme {
  width: 65px;
  height: 30px;
  border-radius: 50px;
  background: var(--bg-toggle);
  box-shadow: inset 0px 0px 10px rgba(190, 108, 255, 0.3);
  position: relative;
  cursor: pointer;
}

#toggle-theme .circle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background: var(--bg-circle-toggle);

  position: absolute;
  top: 3px;
  left: 3px;

  transition: 0.5s;
}

#toggle-theme .circle.active {
  top: 3px;
  left: calc(65px - 25px - 3px);
}

/* ---------------------- MAIN ---------------------- */

main {
  width: 100%;
  height: 100vh;
  position: relative;
}

main .main-content {
  width: 100%;
  max-width: 1360px;
  padding-top: 250px;
  padding-left: 140px;
  margin: 0 auto;
}

main .main-content h1 {
  background: linear-gradient(270deg, #ffffff 0%, #8f00ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 700;
}

main .main-content h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--font-color);
  margin-top: 8px;
}

main .main-content p {
  font-size: 16px;
  font-weight: 300;
  color: var(--font-color-secondary);
  margin-top: 8px;
}

/* ---------------------- BACKGROUND IMAGES ---------------------- */

main .background-image {
  position: absolute;
  animation: rotate 30s infinite alternate-reverse ease-in-out;
  z-index: -1;
}

main .background-image:nth-child(2) {
  bottom: -9.375rem;
  left: -150px;
}

main .background-image:nth-child(3) {
  bottom: -150px;
  right: -150px;
}
main .background-image:nth-child(4) {
  top: -200px;
  right: -150px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ---------------------- ABOUT ---------------------- */

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 115px;
  padding-top: 100px;
}

#about .info-profile {
  width: 100%;
  max-width: 640px;
}

#about .info-profile h2 {
  font-size: 40px;
  color: var(--font-color);
  margin-bottom: 36px;
}

#about .info-profile h2 > span {
  display: inline-block;
  animation: hand 2.3s linear infinite alternate-reverse;
}

#about .info-profile p {
  font-size: 24px;
  color: var(--font-color);
  font-weight: 300;
}

#about .info-profile p + p {
  margin-top: 45px;
}

@keyframes hand {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(8deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(8deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* ---------------------- FOOTER ---------------------- */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px 45px;
}

footer > span {
  color: var(--font-color);
  font-weight: 300;
}

footer .social-media-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 30px 45px;
}

footer .social-media-group a {
  color: var(--font-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .social-media-group a svg path {
  transition: 0.4s;
}

footer .social-media-group a:nth-child(1):hover svg path {
  fill: var(--linkedin);
}

footer .social-media-group a:nth-child(2):hover svg path {
  stroke: var(--github);
}
footer .social-media-group a:nth-child(3):hover svg path {
  stroke: var(--instagram);
}
